.app{
  display:flex;
  padding:35px;
  background-image: linear-gradient(pink,lightblue);
  height:95vh;
  
  
}

.game{
  display:flex; 
  flex-wrap: wrap; 
  height:560px;
  width:560px;
  margin:auto;
  border:14px groove violet;
}

.game img{
  height:70px;
  width:70px;
}

.score-display{
 text-align: right;
}
.score{
  text-align:end;
}

